ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
}
li {
  display: inline;
  
}
li a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 13px;
  color: black;
  font-family: arial;
}
input {
  height: 42px;
  background-color: #e4e2e2; 
  border-radius: 18px;
  border: 0px solid;
}
input:hover {
	background: #a0a0a0; color: #fff;
	}